/* Add custom style here  */
#hero-1 header.theme-dark { background-color: var(--blue-700) }

#hero-2 header.hero-bg > .container-overlay { background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); } 

#hero-2 header.hero-block h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
 font-size: calc(60px + (120 - 60) * ((100vw - 320px)/ (1600 - 320)));
 }

 #hero-3 { margin-top: 48px; }

 #hero-3 h1 { 
    font-family: 'Abril Fatface', cursive;
    font-size: calc(60px + (120 - 60) * ((100vw - 320px)/ (1600 - 320)));
 }

#hero-4 header.theme-light { background-color: var(--trend-100) }

#hero-4 header.hero-block h1 { 
    font-family: 'Prata', serif;
    font-weight: 400;
    letter-spacing: -4px;
    line-height: 1.2
}
    
#hero-4 .hero-block.bg-img-left .hero-text-container h2 {
    font-size: calc(28px + (32 - 28) * ((100vw - 320px)/ (1600 - 320)));
    color: var(--gray-700);
}   


