header.theme-dark { background-color: var(--trend-900) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--slate-400) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--slate-400) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--slate-300) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--slate-300) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--red-300) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--red-300) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--white-000) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--white-000) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--white-000) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--white-000) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--red-800) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--red-800) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--slate-100) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--slate-100) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--slate-050) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--slate-050) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--slate-300) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--slate-300) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--trend-800) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--trend-800) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--trend-900) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--trend-900) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--trend-400) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--trend-400) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--amber-050) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--amber-050) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--orange-100) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--orange-100) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--yellow-050) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--yellow-050) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--blue-050) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--blue-050) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--blue-900) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--blue-900) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--blue-500) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--blue-500) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--sky-600) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--sky-600) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--sky-400) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--sky-400) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--sky-050) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--sky-050) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--sky-100) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--sky-100) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--sky-200) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--sky-200) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--sky-100) }
nav.theme-light.menu-sticky.menu-on-scroll,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--sky-100) }
nav.theme-light.menu-sticky.menu-on-scroll .nav-toggle { background-color: var(--sky-200) }
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper li a:link,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper li a:visited { color: var(--sky-900) }
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper li a:focus,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper li a:hover,
nav.theme-light.menu-sticky.menu-on-scroll ul.links-wrapper li a:active { color: #00594c }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--sky-200) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--sky-200) }
nav.theme-dark ul.links-wrapper li a:link,
nav.theme-dark ul.links-wrapper li a:visited { color: #bca79d }
nav.theme-dark ul.links-wrapper li a:focus,
nav.theme-dark ul.links-wrapper li a:hover,
nav.theme-dark ul.links-wrapper li a:active { color: #00594c }
nav.theme-dark a#btn-cta:link,
nav.theme-dark a#btn-cta:visited { background-color: #00594c }
nav.theme-dark a#btn-cta:focus,
nav.theme-dark a#btn-cta:hover,
nav.theme-dark a#btn-cta:active { background-color: #bca79d }
nav.theme-dark a#btn-cta:link,
nav.theme-dark a#btn-cta:visited { color: #bca79d }
nav.theme-dark a#btn-cta:focus,
nav.theme-dark a#btn-cta:hover,
nav.theme-dark a#btn-cta:active { color: #00594c }
@media (max-width: 767px) { nav.theme-dark ul.links-wrapper.active { background-color: #00594c } }
@media (max-width: 767px) { nav.theme-dark ul.links-wrapper.active { background-color: #00594c } }
@media (max-width: 767px) { nav.theme-dark ul.links-wrapper.active { background-color: #00594c } }
@media (max-width: 767px) { nav.theme-dark ul.links-wrapper.active { background-color: #00594c } }
header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):active { background-color: var(--sky-200) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { background-color: #bca79d }

.section-selector-1 a.btn:link,
.section-selector-1 a.btn:visited { background-color: #bca79d }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { background-color: #00594c }

.section-selector-1 a.btn:link,
.section-selector-1 a.btn:visited { border-color: #bca79d }

.section-selector-1 a.btn:link,
.section-selector-1 a.btn:visited { color: var(--sky-100) }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { color: #bca79d }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { border-color: #00594c }

.section-selector-1 { background-color: var(--sky-100) }

header.theme-dark { background-color: #bca79d }
header.theme-dark h2 { color: #308c7d }
header.theme-dark h1 { color: #00594c }
nav.theme-light a#btn-cta:link,
nav.theme-light a#btn-cta:visited { border-color: var(--white-000) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--sky-400) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--sky-300) }
nav.theme-dark ul.links-wrapper li a:focus,
nav.theme-dark ul.links-wrapper li a:hover,
nav.theme-dark ul.links-wrapper li a:active { color: #00594c }
nav.theme-dark a#btn-cta:link,
nav.theme-dark a#btn-cta:visited { color: #54433b }
nav.theme-dark a#btn-cta:link,
nav.theme-dark a#btn-cta:visited { background-color: #bca79d }
nav.theme-dark a#btn-cta:focus,
nav.theme-dark a#btn-cta:hover,
nav.theme-dark a#btn-cta:active { background-color: #bca79d }
nav.theme-dark a#btn-cta:focus,
nav.theme-dark a#btn-cta:hover,
nav.theme-dark a#btn-cta:active { color: #00594c }
nav.theme-dark ul.links-wrapper li a:link,
nav.theme-dark ul.links-wrapper li a:visited { color: #bca79d }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--sky-200) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--sky-300) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: #308c7d }

.section-selector-1 { background-color: #308c7d }
.section-selector-1 a.btn:link,
.section-selector-1 a.btn:visited { background-color: #bca79d }

.section-selector-1 a.btn:link,
.section-selector-1 a.btn:visited { border-color: #bca79d }

.section-selector-1 a.btn:link,
.section-selector-1 a.btn:visited { color: var(--sky-100) }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { color: #bca79d }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { background-color: #00594c }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { border-color: #00594c }

.section-selector-1 div[class^='flex-cols-'] div[class^='col-'] p { color: #54433b }
.section-selector-1 div[class^='flex-cols-'] div[class^='col-'] li { color: #54433b }
.section-selector-1 div[class^='flex-cols-'] div[class^='col-'] h3 { color: #54433b }

footer.theme-dark {
	/* background-color: var(--trend-800); */
	background-color: #54433b;
}

footer ul.footer-links li a:link, footer ul.footer-links li a:visited {
	font-size: calc(17px + (20 - 17) * ((100vw - 320px)/(1920 - 320)));
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 7px;
	text-decoration-color: #308c7d;
	color: var(--white-000);
	transition: all 0.2s linear;
	color: #308c7d;
}

.theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark p, .theme-dark li {
	color: #308c7d;
}

footer p.privacy a:link, footer p.privacy a:hover {
	font-size: calc(17px + (20 - 17) * ((100vw - 320px)/(1920 - 320)));
	text-decoration: underline;
	text-decoration-thickness: auto;
	text-decoration-thickness: 2px;
	text-underline-offset: 7px;
	text-decoration-color: var(--white-000);
	transition: all 0.2s linear;
	color: #308c7d;
}

.theme-light h1, .theme-light h2, .theme-light h3, .theme-light .col-1 h3.in-col-1, .theme-light p, .theme-light li {
	color: #54433b;
}
.theme-light .col-1 h3 {
	color: #bca79d;
}

#contact-form {
	background-color: #308c7d;
    color: #bca79d;
}

#contact-form #btn-submit {
	float: right;
	background-color: #bca79d;
	color: #54433b;
	font-weight: bold;
	padding: 12px 28px;
	font-size: 18px;
	border: solid 2px #bca79d;
	cursor: pointer;
	outline: none;
}

#contact-form #btn-submit:hover, #contact-form #btn-submit:active {
	background-color: #54433b;
	color: #bca79d;
    border: solid 2px #54433b;
}